$base-color:#ffff;
$second-color:#1EA4CE;
$active-color:#147594;

$primaryFontFamily:Open Sans;
$secondaryFontFamily:Helvetica;

$fontSize-XL:20px;
$fontSize-L:15px;
$fontSize-M:14px;
$fontSize-S:13px;


$marginSize-M:8px;
$marginSize-L:12px;
$marginSize-XL:16px;
$marginSize-XXL:24px;


$active-type-font-color:#F2F0FD;
$first-font-color: #191919;
$second-font-color:#6F6F6F;
$third-font-color:#697488;
$forth-font-color:#525252;
$fifth-font-color:#A8A8A8;