@use "../../styles/mixins.scss";
@use "../../styles//variables.scss";


.product-category-wrapper{
    @include mixins.widthAndHeight(129px, 72px);
    margin-bottom:variables.$marginSize-XL;
    .product-header{
        @include mixins.setFont(variables.$fontSize-XL,26px,normal,400,variables.$second-font-color);
        margin-bottom:variables.$marginSize-XL;
        text-align: left;
    }

    .button-wrapper.filtering{
        display: none;
    }
    .button-wrapper{
        @include mixins.justifyItems();
        justify-content: flex-start;
        .category-button{
            height: 30px; 
            background: variables.$active-type-font-color;
            border-radius: 2px;
            padding:6px 16px;
            margin-right:variables.$marginSize-M;
            @include mixins.setFont(variables.$fontSize-S,18px,normal,600,variables.$second-color);
            border:none;
        }
        .category-button.active{
            background: variables.$second-color;
            color:variables.$base-color;

        }
    }


}


@media screen and (max-width:768px)  {
    .product-category-wrapper{
        height: fit-content;
        .button-wrapper{
            .category-button{
                height: 40px;
                min-width: 50px;

            }
        }
        .button-wrapper.filtering{
                display: flex;
                position: absolute;
                right: 10px;
                z-index: 2;
        }
        .button-wrapper.filtering.active{

            z-index: 4;
            position: fixed;
            top: 40px;
        }
    }
    
}