@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";


.b-button{
    @include mixins.justifyItems();
    background-color: variables.$second-color;
    transition: transform 200ms ease-in-out;
    -webkit-transition:transform 200ms ease-in-out;
}

.b-button:hover{
    background-color: variables.$active-color;
    color:variables.$base-color;
    cursor: pointer;
}

.b-button:active{
    transform: scale(0.98);
    transition: transform 200ms ease-in-out;
    -webkit-transition:transform 200ms ease-in-out;

}



.card-wrapper{
    @include mixins.widthAndHeight(124px,225px);
    display: flex;
    flex-direction: column;
    .item-image{
        @include mixins.justifyItems();
        @include mixins.widthAndHeight(124px, 124px);
        @include mixins.setBorder(1.17666px,solid,#F3F0FE,12px);
        img{
        @include mixins.widthAndHeight(92px, 92px);
        margin:variables.$marginSize-XL;
        }
    }
    .item-info{
        padding-top:variables.$marginSize-M;
        text-align: left;
        @include mixins.widthAndHeight(124px, 101px);
        .item-price{
            @include mixins.setFont(variables.$fontSize-M,20px,normal,700,variables.$second-color,Helvetica);
            margin: 0;
        }
        .item-title {
            @include mixins.setFont(variables.$fontSize-M, 20px, normal, 600, variables.$first-font-color);
                margin: 0;
                min-height: 40px;
        }
    }
    .add-button{

        margin:8px auto 0;
        @include mixins.widthAndHeight(100%, 22px);
        border-radius: 2px;
        border:none;
        @include mixins.setFont(12px, 20px, normal, 600, variables.$base-color);
    }
}


@media screen and (max-width:991px) {
    .card-wrapper{
        margin: auto;
    }


}


@media screen and (max-width:768px) {
    .productlist-wrapper {
        margin: auto;
    }
    .card-wrapper{
        @include mixins.widthAndHeight(250px, 345px);
            position: relative;
            .item-image{
                @include mixins.widthAndHeight(248px, 248px);
                img{
                        @include mixins.widthAndHeight(184px, 184px);
                }
            }
            .item-info{
                    @include mixins.widthAndHeight(248px, 200px);
                    .add-button{
                        height: 40px;
                    }
            }
    }

}