@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';


.sorting-wrapper {
    // @include mixins.widthAndHeight(100%, 100%);
    padding: variables.$marginSize-XXL;
    background-color: variables.$base-color;

    .radio-button-wrapper {
        margin-bottom: variables.$marginSize-XL;
        @include mixins.justifyItems();
        justify-content: flex-start;
        position: relative;

        input[type="radio"].sorting-radio {
            @include mixins.setBorder(2px, solid, #DFDEE2, 17.5px);
            @include mixins.widthAndHeight(22px, 22px);
            background-color: transparent;
            appearance: none;
        }

        input[type="radio"]:checked,.sorting-radio.active {
            border-color: variables.$second-color!important;
        }

        .sorting-label {
            @include mixins.setFont(variables.$fontSize-M, 18px, normal, 400, variables.$forth-font-color);
            margin-left: 12px;

        }

        img {
            position: absolute;
            opacity: 1;
            left: 10px;
            top: 8px;
            width: 12px;
        }

    }

}