@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";


.header-wrapper {
    position: absolute;
    top:0;
    left: 0;
    @include mixins.widthAndHeight(100%, 76.24px);
    @include mixins.justifyItems();
    background-color: variables.$second-color;

    .logo {
        @include mixins.widthAndHeight(141.25px, 40.32px);
    }

    .basket {
        position: absolute;
        right: 0;
        @include mixins.setFont(14px, 18px, normal, 600, variables.$base-color);
        @include mixins.widthAndHeight(129px, 76.64px);
        @include mixins.justifyItems();
        letter-spacing: 0.16px;
        border: none;
        margin: auto 104px auto auto;
        background-color: variables.$active-color;

        img {
            @include mixins.widthAndHeight(24px, 24.53px);
     
        }
      
    }
}



@media screen and (max-width:991px) {
    .header-wrapper{
        .basket{
        margin: auto 0 auto auto;
        }
    }
}

@media screen and (max-width:768px) {
    .header-wrapper {
        position: fixed;
        width:100vw;
        z-index: 3;
        .logo {
            @include mixins.widthAndHeight(105.9375px, 30.24px);
        }
        .basket{
            img{
                @include mixins.widthAndHeight(20px, 20px);
              
            }
        }
        .basket.active{
                img{
                    margin-right:4px;
                }
        }
    }
}

@media screen and (max-width:600px) {
    .header-wrapper {
        height: 60px;

        .logo {
            @include mixins.widthAndHeight(70.625px, 20.16px);
        }
        .basket{
                @include mixins.widthAndHeight(60px, 60px);
        }

        .basket.active{
            width:70px;
        }
    }
}