@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";


.footer {
    @include mixins.widthAndHeight(100%, 103px);
    @include mixins.justifyItems();
    @include mixins.setFont(variables.$fontSize-S, 174%, normal, 400, variables.$second-color);
    .footer-group{
            @include mixins.justifyItems();
            .footer-dot{
                margin:auto variables.$marginSize-XL;
                background-color: variables.$second-color;
                @include mixins.widthAndHeight(3px,3px);
                border-radius: 100px;
            }
    }
}