@use "./styles/variables.scss";
@use "./styles/mixins.scss";


.App {
  box-sizing: border-box;
  text-align: center;
  padding:0 104px;
  @include mixins.widthAndHeight(auto, auto);
  background-color: #FAFAFA;
  .content-wrapper{
    padding-top:100px;
    display: grid;
    grid-template-columns: 24% 49.35% 24%;
    column-gap: 16px;
    @include mixins.widthAndHeight(100%, calc(100% - 179.24px));
  }
  
}


@media screen and (max-width:1439px) {
  .App{
      padding:0 30px;

      .content-wrapper{
            grid-template-columns: 30% 70%;
           overflow-x: hidden;
      }
  }
  
  
}


@media screen and (max-width:768px) {
  .App {
    padding: 0 15px;

    .content-wrapper{
          grid-template-columns: 100%;
     
    }
  }

}


