@use "./styles/variables.scss";
@use "./styles/mixins.scss";


.App {
  box-sizing: border-box;
  text-align: center;
  padding:0 104px;
  @include mixins.widthAndHeight(auto, auto);
  background-color: #FAFAFA;
  .content-wrapper{
    padding-top:100px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 16px;
    @include mixins.widthAndHeight(100%, calc(100% - 179.24px));
    .main-contents{
          @include mixins.justifyItems();
    }
    .product-modal{
      min-height: 80vh;
      .pagination-wrapper{
        @include mixins.justifyItems();
        margin-top:18px;
      }
    }
    .basket-content{
      width: fit-content;
    }
  }
  
}


